$default-font: "MerriweatherRegular", sans-serif;
$light-font: "MerriweatherLight", sans-serif;
$bold-font: "MerriweatherBold", sans-serif;
$accent: #5B3A32;
$black: #343030;
$bgc: #E5E5E5;
$bgc-dark: #ECEAEA;
$trans: .3s;