footer.footer
	.container.navbar__container
		nav.navbar
			a.navbar__logo(href="#")
				img(src="/img/logo/logo_dark.svg", alt="logo")
			ul.navbar__menu
				li.navbar__menu-item
					a.navbar__nav-link.navbar__nav-link_gray(href="#") Каталог
				li.navbar__menu-item
					a.navbar__nav-link.navbar__nav-link_gray(href="#") Доставка
				li.navbar__menu-item
					a.navbar__nav-link.navbar__nav-link_gray(href="#") Оплата
				li.navbar__menu-item
					a.navbar__nav-link.navbar__nav-link_gray(href="#") Контакты
				li.navbar__menu-item
					a.navbar__nav-link.navbar__nav-link_gray(href="#") О галерее
		.navbar__right
			a.navbar__nav-link.navbar__nav-link_gray(href="tel:+74955555555")
				img.icon(src="/img/icon/phone.svg" alt="icon")
				span +7 (495) 555-55-55
			a.navbar__nav-link.navbar__nav-link_gray(href="#")
				img.icon(src="/img/icon/pin.svg" alt="icon")
				span г. Москва, ул. Расплетина, 24