header.header
	.container.navbar__container
		nav.navbar
			a.navbar__logo(href="#")
				img(src="/img/logo/logo.svg", alt="logo")
			ul.navbar__menu
				li.navbar__menu-item
					a.navbar__nav-link(href="#") Каталог
				li.navbar__menu-item
					a.navbar__nav-link(href="#") Доставка
				li.navbar__menu-item
					a.navbar__nav-link(href="#") Оплата
				li.navbar__menu-item
					a.navbar__nav-link(href="#") Контакты
				li.navbar__menu-item
					a.navbar__nav-link(href="#") О галерее
		.navbar__right
			.input__container
				input.input.input_long(type="text" placeholder="Поиск по названию картины" name="search")
				button.button.button_input Найти